{% extends "ProjectWebApp/base.html"%}
{% load static  %}

{% block content %}



<!-- <h1>store</h1> -->
<div class="container">
    <div class="float-right mr-1">
        <!-- <p style="color: white; ">Carro de Compras, total: Q. {{total_cart}}</p> -->
        
        <!-- from Store/template include widget -->
        {% if request.user.is_authenticated %}

            {% include "cart/widget.html" %} 
        {% else %}
            
            <span class="altert alert-danger text-center">Ingresa para ver el carro</span>

        {% endif %}
    </div>

    <div class="row">
{% for prod in products %}


        <div class=" col-md-4 mt-2 mb-2">

            <div class="card h-100 w-100 " >
                {% if prod.image %}
                    <img class="card-img-top  product-img" src="{{prod.image.url}}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top  product-img" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center ">{{prod.name}}</h5>
                    <p class="card-text text-right">{{prod.price}}</p>
                    <div class="col text-center">
                        <!-- calling to the specified url and we pass a product id -->
                        <a href="{% url 'shopc:add' prod.id %}" class="btn btn-primary">Agregar</a>
                    </div>
                </div>
            </div>




        </div>


{% endfor %}
    </div>
</div>
{% endblock %}
