{% extends "ProjectWebApp/base.html"%}
{% load static  %}

{% block content %}



<!-- <h1>store</h1> -->
<div class="container">
    <div class="row">
{% for prod in products %}


        <div class="col-4 mt-2 mb-2">

            <div class="card h-100 w-100 " >
                {% if prod.image %}
                    <img class="card-img-top  product-img" src="{{prod.image.url}}" alt="Card image cap">
                {% else %}
                    <img class="card-img-top  product-img" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center ">{{prod.name}}</h5>
                    <p class="card-text text-right">{{prod.price}}</p>
                    <div class="col text-center">
                        <a href="#" class="btn btn-primary">VER MAS</a>
                    </div>
                </div>
            </div>




        </div>


{% endfor %}
    </div>
</div>
{% endblock %}
